<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <% if(true) { %>
        <p><%= message %>
    <% } %>

    <form action="/expenses/api/v1/auth/resetPassword" method="post">
        <input type="email" name="email">
        <input type="password" name="p1">
        <input type="password" name="p2">
        <button type="submit">Reset</button>
    </form>
</body>

</html>