<%- include("header", {userName:userName}) -%>
   
<div class="container">
    <label for="start">Start month:</label>

<input type="month" id="start" name="start"
       min="2016-03" value="2018-05">
       <button onclick="clicked()"></button>
</div>

       <script>
        function clicked(){
            console.log(typeof document.getElementById("start").value)
        }
       </script>

    

    <%- include("footer") -%>